body{
     font-family: sans-serif;

     }
     nav{
         /*outline: 1px solid brown;*/
     }
         ul{
             /*outline: 1px solid blue;*/
             line-height: 40px;
             padding: 0;
             margin: 0;
             background-color: #ffc7c7;
             line-height: 40px;
             overflow: auto;
             }

             li{
                 /*outline: 1px solid green;*/
                 width: 100px;
                 display: inline-block;
                 text-align: center;
}
a{
    /*outline: 1px solid blueviolet;*/
    text-decoration: none;
display: inline-block;
color: #fff;
    }
a:hover{
    background-color: #f9a91a;
    color: #000;
     }   
        


